.form-container {
    background-image: url('../../images/bannerbackground3.png');
    background-repeat: no-repeat;
    overflow: hidden;
    width: 1364px;
    height: 556px;
}

.from-info {
    width: 50%;
    margin: 0 auto;
}

.from-info img {
    height: 50px;
    display: block;
    text-align: center;
}

.from-info input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
}