.food-details {
    border-radius: 5px;
    text-align: center;
    padding: 30px;
}

.food-details:hover {
    border: 1px solid gray;
    box-shadow: 5px 5px 5px 5px gray;


}

.food-details img {
    width: 100%;
}

.food-details .food-info {
    margin-top: 40px;
}